@import "node_modules/angular-calendar/scss/angular-calendar.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "utilities/index.scss";

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}

header {
    h1 {
        color: $primary-color;
        font-size: 200%;
        font-weight: 700;
        margin-bottom: 10px !important;
    }
}

.content-section {
    box-sizing: border-box;
    max-height: 85%;
    margin: 1rem auto;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2.5rem;
    background-color: #DEDEDE;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    border: 18px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

:host app-popup {
    height: auto;
}

@include date-picker()
