<div>
    <header>
        <h1>Tickets</h1>
    </header>
    <body>
        <section class="button-section">
            <button (click)="onAdd()">Nieuw</button>
            <button class="icon-button dropdown-button">Filter
                <span class="button-dropdown">
                    <div class="top-option" (click)="onChangeSort('status')">
                        <p>Ticket status</p>
                    </div>
                    <hr>
                    <div (click)="onChangeSort('updatedAt')">
                        <p>Update datum</p>
                    </div>
                    <hr>
                    <div class="bottom-option" (click)="onChangeSort('createdAt')">
                        <p>Aanmaak datum</p>
                    </div>
                </span>
            </button>
            <button [routerLink]="['/tags-overview']">Tags</button>
        </section>
        <section class="content-section">
            <app-ticket-list #ticketList></app-ticket-list>
        </section>
        <app-popup *ngIf="creatingTicket" title="Ticket aanmaken" (closed)="onClose()">
            <app-ticket-creator (ticketCreated)="onCreateTicket($event)"></app-ticket-creator>
        </app-popup>
    </body>
</div>