<div appColoring>
    <header>
        <h1>Uw VvE</h1>
    </header>
    <body>
        <section class="personalization">
            <form (ngSubmit)="onChangeStyling(stylingForm)" #stylingForm="ngForm">
                <div class="color-picker-container">
                    <p>Primaire kleur</p>
                    <div class="color-picker">
                        <input type="color" id="primary-color" name="primaryColor" [(ngModel)]="primaryColor">
                        <label for="primary-color">{{ primaryColor }}</label>
                    </div>
                </div>
                <div class="color-picker-container">
                    <p>Secundaire kleur</p>
                    <div class="color-picker">
                        <input type="color" id="secondary-color" name="secondaryColor" [(ngModel)]="secondaryColor">
                        <label for="secondary-color">{{ secondaryColor }}</label>
                    </div>
                </div>
                <br>
                <button type="button" [ngStyle]="{backgroundColor: primaryColor}">Primair preview</button>
                <button type="button" [ngStyle]="{backgroundColor: secondaryColor}">Secundair preview</button>
                <br>
                <button type="submit" appColoring colorElement="backgroundColor">Update styling</button>
            </form>
        </section>
    </body>
</div>
