@import "../../utilities/effects.scss";
@import "../../utilities/button.scss";

body {
    width: 85vw;
    height: 80vh;
    background-color: white;
    border: 1px solid rgba($color: #000000, $alpha: 0.04);
    border-radius: 8px;
    box-shadow: $default-box-shadow;
}

button {
    @include button;
}

.personalization {
    color: black;

    .color-picker {
        display: flex;
        align-items: center;
        color: black;
    
        input {
            border: none;
            outline: none;
            height: 1.8rem;
            width: 2.5rem;
            margin-right: 0.5rem;
        }
    
        input::-webkit-color-swatch {
            border: none;
            border-radius: 3rem;
        }
    
        label {
            color: #A0A3BD;
        }
    }
}