<header>
    <h1>Uw VvE</h1>
</header>
<body>
    <section class="personalization">
        <div class="color-picker">
            <p>Primarire kleur</p>
            <input type="color" id="primary-color" [(ngModel)]="primaryColor">
            <label for="primary-color">{{ primaryColor }}</label>
        </div>
        <br>
        <button [ngStyle]="{backgroundColor: primaryColor}">Voorbeeld knop</button>
        <button appColoring colorElement="backgroundColor">Directive knop</button>
        <button appColoring colorElement="backgroundColor" colorStyle="secondary">Secondary knop</button>
    </section>
</body>