@import "../../utilities/index.scss";

body {
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: white;
    border: 1px solid rgba($color: #000000, $alpha: 0.04);
    border-radius: 8px;
    box-shadow: $default-box-shadow;
    color: black;
    margin-bottom: 1rem;
    overflow: auto;
}

h2 {
    margin: 2rem 0;
}

p {
    margin: 0.2rem 0;
}

button {
    @include button;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    gap: 20%;
    flex-direction: row;

    input[type="file"] {
        display: none;
    }

    .custom-file-input {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
        min-width: 100%;
        border: none;
        margin-bottom: 1rem;
        cursor: pointer;
        margin: 0.5rem 0;
        
        .file-input-icon {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }

    .personalization {

        .light-text {
            color: #A0A3BD;
        }
    
        .input-fields {
    
            input {
                height: 2rem;
                width: 100%;
                border: none;
                margin: 0.5rem 0;
                font-family: inherit;
                color: #A0A3BD;
                font-size: inherit;
            }

            input[type="text"], input::placeholder{
                color: #A0A3BD;
            }
    
            .file-name-field {
                flex-grow: 2;
    
                .file-name {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #A0A3BD;
                }
            }
    
            .file-input-icon {
                min-width: 15%;
                border-radius: 0 15% 15% 0;
                background-color: $dynamic-primary;
    
                .svg-element {
                    stroke: white;
                    display: flex;
                    width: 1.1rem;
                    height: 1.1rem;
                }
            }
        }
    
        .color-picker {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
        
            input {
                border: none;
                outline: none;
                height: 1.8rem;
                width: 2.5rem;
                margin-right: 0.5rem;
                background-color: inherit;
            }
        
            input::-webkit-color-swatch {
                border: none;
                border-radius: 3rem;
            }
        }
    }
    
    .information {
        flex: 2;

        .files-block {
            width: 100%;
            min-height: 65%;
            background-color: #F7F7FC;
            margin: 0.3rem 0;
        }

        .file-upload {
            display: flex;
            justify-content: flex-end;
        }
        
        .custom-file-input {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid $dynamic-primary;
            border-radius: 3rem;
            color: $dynamic-primary;
            width: 6rem;
            min-width: 6rem;
            padding: 0 1.3rem;
    
            .svg-element {
                display: flex;
                align-items: center;
                width: 1.1rem;
                height: 1.1rem;
                stroke: $dynamic-primary;
            }
        }
    }
}