@import "../../../utilities/index.scss";

input {
    width: 90%;
    padding: 0.25rem 0.3rem;
    margin: 0.2rem 0;
    border: 1px solid $dynamic-primary;
    border-radius: 0.3rem;
}

input:focus {
    outline: none;
}