@import "../../../utilities/index.scss";

.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        justify-content: center;
        color: $dynamic-primary;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.control-panel {
    display: flex;
    width: 100%;

    input[type="file"] {
        display: none;
    }

    .custom-file-input {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
        min-width: 100%;
        border: none;
        margin-bottom: 1rem;
        cursor: pointer;
        margin: 0.5rem 0;
        
        .file-input-icon {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }

    .personalization {
    
        .input-fields {
    
            input {
                height: 2rem;
                width: 100%;
                border: none;
                margin: 0.5rem 0;
            }
    
            .file-name-field {
                flex-grow: 2;
    
                .file-name {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #A0A3BD;
                }
            }
    
            .file-input-icon {
                min-width: 15%;
                border-radius: 0 15% 15% 0;
                background-color: $dynamic-primary;
    
                .svg-element {
                    stroke: white;
                    display: flex;
                    width: 1.1rem;
                    height: 1.1rem;
                }
            }
        }
}
}

button {
    @include button;
    
    align-self: flex-end;
    margin: 1rem 0;
    background-color: $dynamic-secondary;
}