@import "colors.scss";

@mixin date-picker {
  .md-drppicker {
    font-family: 'Inter', sans-serif !important;
    border-radius: 20px !important;
    box-shadow: none !important;

    .month {
      color: $primary-color !important;
      text-transform: capitalize !important;
    }

    .week-days {
      th {
        text-transform: uppercase !important;
        font-weight: normal !important;
        font-size: .7rem !important;
      }
    }

    .available:not(.active, .off) {
      color: $primary-color !important;
    }

    td.active {
      background-color: $primary-color !important;
    }

    .select-item {
      border-bottom: none !important;
      background-color: $background-color !important;
      padding: 10px 10px 10px 0 !important;
      color: $primary-color !important;

      &::after {
        display: none !important;
        color: $secondary-color !important;
      }
    }
    .hourselect {
      border-radius: 10px 0 0 10px !important;
    }
    .minuteselect {
      border-radius: 0 10px 10px 0 !important;
    }

    ::-webkit-scrollbar {
      width: .3rem;
      border: none;
    }

    ::-webkit-scrollbar-thumb {
      border: 0;
      background-clip: padding-box;
      border-radius: 20px;
      background-color: $secondary-color;
    }
  }
}

@mixin calendar {
  .cal-header {
    text-transform: capitalize !important;
    color: #988c8c !important;
    font-weight: 300 !important;

    b {
      font-weight: 300 !important;
    }
  }

  .cal-event-action {
    .calendar-icon {
      display: inline-block;
      width: 13px;
      height: 13px;
      background-size: cover;
      opacity: .5;
      margin-left: 2px;
      filter: invert(53%) sepia(0%) saturate(36%) hue-rotate(172deg) brightness(88%) contrast(86%);
      transition: all .1s ease-in-out;

      &:hover, &:focus {
        filter: none;
      }
    }

    .calendar-delete-icon {
      background-image: url(../assets/icons/delete.svg);
      transform: translateY(2px);
    }

    .calendar-edit-icon {
      background-image: url(../assets/icons/edit.svg);
      transform: translateY(3px);
    }
  }

  .cal-month-view {
    .cal-days {
      border: none !important;
      margin-top: 10px !important;
      .cal-today:not(.cal-open) {
        background-color: rgba($secondary-color, .6) !important;
        &:hover {
          background-color: $calendar-selected-color !important;
        }
      }
      .cal-day-badge {
        background-color: $primary-color !important;
      }

      .cal-day-cell {
        border: none !important;
        border-radius: 10px !important;
        transition: border-radius .5s ease-in-out !important;
      }
      .cal-cell-row {
        border: none !important;
      }
      .cal-open-day-events {
        box-shadow: none !important;
        background-color: $calendar-selected-color  !important;
        color: black !important;
      }
      .cal-open {
        border-radius: 10px 10px 0 0 !important;
        background-color: $calendar-selected-color !important;
      }

      .cal-day-number {
        color: $primary-color !important;
        opacity: 1 !important;
      }
    }

    .cal-event-action {
      .calendar-icon {
        width: 17px;
        height: 17px;
        margin-left: 7px;

        .calendar-delete-icon {
          transform: translateY(3px);
        }

        .calendar-edit-icon {
          transform: translateY(4px);
        }
      }
    }
  }

  .cal-week-view, .cal-day-view {
    .cal-event-title {
      color: black !important;
    }
  }

  .cal-week-view {
    .cal-day-headers {
      .cal-today {
        background-color: rgba($secondary-color, .7) !important;
        color: black !important;
      }
    }
  }

  .cal-day-view {
    .cal-current-time-marker {
      background-color: $primary-color;
    }
  }
}
