@import "effects.scss";
@import "colors.scss";

@mixin section {
  width: 85vw;
  height: 80vh;
  background-color: white;
  border: 1px solid rgba($color: #000000, $alpha: 0.04);
  border-radius: 8px;
  box-shadow: $default-box-shadow;
}

@mixin content-section {
  box-sizing: border-box;
  max-height: 85%;
  margin: 1rem auto;
  overflow: auto;
}

@mixin no-more-items {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  font-weight: 700;
  color: $dynamic-primary;
  margin-bottom: 1.5rem;
}
