<div class="container">
    <section class="user-info">
        <div class="name">
            <p>Naam</p>
            <h1 class="semi-long-field">{{ user.firstname.length + user.lastname.length > 15 ? user.firstname.slice(0, 12) + ' ' + user.lastname.slice(0, 1) + '.' : user.firstname + ' ' + user.lastname }}
                <span class="tooltip">{{ user.firstname + ' ' + user.lastname }}</span>
            </h1>
        </div>
        <div class="email">
            <p>Email</p>
            <h1 class="long-field">{{ user.email.length > 33 ? user.email.slice(0, 33) + '...' : user.email }}
                <span class="tooltip">{{ user.email }}</span>
            </h1>
        </div>
        <div class="role">
            <p>Functie</p>
            <h1>{{ user.role }}</h1>
        </div>
    </section>

    <section class="controls">
        <button class="icon-button" id="role-button" (click)="onChangeRole()">{{ user.role === 'admin' ? 'Bewoner maken' : 'Bestuur maken' }}</button>
        <button class="icon-button" id="delete-button" (click)="onDeleteUser()">Account verwijderen</button>
    </section>
</div>
