<div class="container">
    <section class="user-info">
        <div class="name">
            <p>Naam</p>
            <h1>{{ user.firstname.length + user.lastname.length > 15 ? 'Selecteer om te tonen' : user.firstname + ' ' + user.lastname }}
                <span class="tooltip">{{ user.firstname + ' ' + user.lastname }}</span>
            </h1>
        </div>
        <div class="email">
            <p>Email</p>
            <h1>{{ user.email.length > 15 ? 'Selecteer om te tonen' : user.email }}
                <span class="tooltip">{{ user.email }}</span>
            </h1>
        </div>
        <div class="role">
            <p>Functie</p>
            <h1>{{ user.role }}</h1>
        </div>
    </section>

    <section class="controls">
        <button class="icon-button" id="role-button">TODO</button>
        <button class="icon-button" id="delete-button">Account verwijderen</button>
    </section>
</div>
