<section class="content-area">
    <form (ngSubmit)="onCreateTicket(form)" #form="ngForm">
        <div class="left-side">
            <div class="title-field">
                <input type="text" placeholder="Ticket onderwerp" name="title" required ngModel>
            </div>
            <div class="content-field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Ticket omschrijving" name="description" required ngModel></textarea>
            </div>
        </div>
        <div class="right-side">
            <div class="assignee-field">
                <h1>Persoon toewijzen</h1>
            </div>
            <div class="member-select">
                <select name="assignee" ngModel>
                    <option value="">Niet toegewezen</option>
                    <option *ngFor="let member of organizationMembers" [ngValue]="member._id">{{ member.firstname + ' ' + member.lastname }}</option>
                </select>
            </div>
            <div class="tag-field">
                <h1>Tag toewijzen</h1>
                <select name="tag" ngModel>
                    <option value="">Geen tag</option>
                    <option *ngFor="let tag of organizationTags" [ngValue]="tag._id">{{ tag.name }}</option>
                </select>
            </div>
            <div class="status-field">
                <h1>Status toewijzen</h1>
                <select name="status" id="tag" required ngModel>
                    <option value="">Selecteer status</option>
                    <option value="In afwachting">In afwachting</option>
                    <option value="In behandeling">In behandeling</option>
                    <option value="Afgehandeld">Afgehandeld</option>
                </select>
            </div>
            <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>
            <button type="submit" [disabled]="form.invalid">Aanmaken</button>
        </div>
    </form>
</section>
