<section>
    <form (ngSubmit)="onCreateTicket(form)" #form="ngForm">
        <div class="left-side">
            <div class="title-field">
                <input type="text" placeholder="Ticket onderwerp" name="title" required ngModel>
            </div>
            <div class="content-field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Ticket omschrijving" name="description" required ngModel></textarea>
            </div>
        </div>
        <div class="right-side">
            <div class="assignee-field">
                <h1>Persoon toewijzen</h1>
                <p>(TODO search component)</p>
            </div>
            <div class="member-select">
                <select name="assignee" ngModel>
                    <option value="unassigned" selected="selected">Niet toegewezen</option>
                    <option value="" *ngFor="let member of organizationMembers" [ngValue]="member._id">{{ member.firstname + ' ' + member.lastname }}</option>
                </select>
            </div>
            <div class="tag-field">
                <h1>Tag toewijzen</h1>
                <select name="tag" id="tag">
                    <option value="Email">Email</option>
                </select>
            </div>
            <div class="status-field">
                <h1>Status toewijzen</h1>
                <select name="status" id="tag" ngModel>
                    <option selected value="In afwachting">In afwachting</option>
                    <option value="In behandeling">In behandeling</option>
                    <option value="Afgehandeld">Afgehandeld</option>
                </select>
            </div>
            <button type="submit" [disabled]="form.invalid">Aanmaken</button>
        </div>
    </form>
</section>
