<section class="content-area">
    <form (ngSubmit)="onCreateTicket(form)" #form="ngForm">
        <div class="left-side">
            <div class="title-field">
                <input type="text" placeholder="Ticket onderwerp" name="title" required ngModel>
            </div>
            <div class="content-field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Ticket omschrijving" name="description" required ngModel></textarea>
            </div>
        </div>
        <div class="right-side">
            <div class="member-select">
                <h1>Persoon toewijzen</h1>
                <app-dropdown class="dropdown" [(ngModel)]="selectedAssignee" name="assignee" ngDefaultControl [options]="organizationMembers">
                    <ng-template dropdownSelected let-selected>
                        <div class="dropdown-item">
                            <p class="dropdown-text">{{ selected.firstname + ' ' + selected.lastname }}</p>
                        </div>
                    </ng-template>
                    <ng-template dropdownOption let-option>
                        <div class="dropdown-item">
                            <p class="dropdown-text">{{ option.firstname + ' ' + option.lastname }}</p>
                        </div>
                    </ng-template>
                </app-dropdown>
            </div>
            <div class="tag-field">
                <h1>Tag toewijzen</h1>
                <app-dropdown class="dropdown" [(ngModel)]="selectedTag" name="tag" ngDefaultControl [options]="organizationTags">
                    <ng-template dropdownSelected let-selected>
                        <div class="dropdown-item">
                            <p class="dropdown-text">{{ selected.name }}</p>
                        </div>
                    </ng-template>
                    <ng-template dropdownOption let-option>
                        <div class="dropdown-item">
                            <p class="dropdown-text">{{ option.name }}</p>
                        </div>
                    </ng-template>
                </app-dropdown>
            </div>
            <div class="status-field">
                <h1>Status toewijzen</h1>
                <app-dropdown class="dropdown" [(ngModel)]="selectedStatus" name="status" ngDefaultControl [options]="statusOptions">
                    <ng-template dropdownSelected let-selected>
                        <div class="dropdown-item">
                            <p class="dropdown-text">{{ selected }}</p>
                        </div>
                    </ng-template>
                    <ng-template dropdownOption let-option>
                        <div class="dropdown-item">
                            <p class="dropdown-text">{{ option }}</p>
                        </div>
                    </ng-template>
                </app-dropdown>
            </div>
            <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>
            <button type="submit" [disabled]="form.invalid || isLoading">
                <p *ngIf="!isLoading">Aanmaken</p>
                <app-spinner *ngIf="isLoading"></app-spinner>
            </button>
        </div>
    </form>
</section>
