@import "../../../utilities/button.scss";

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side {
    margin-right: 1rem;

    input, textarea {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid #C6C6C8;
        font-family: inherit;
        font-size: 110%;
        color: black;
        resize: none;
    }
    ::placeholder {
        color: black;
    }

    textarea {
        height: 20rem;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .assignee-field {
        display: flex;
        flex-direction: row;
    }

    select {
        border: none;
        padding: 1rem 0;
        padding-right: 3rem;
        width: 50%;

        option {
            background-color: #F7F7FC;
        }
    }

    button {
        @include button;
        
        align-self: flex-end;
        margin: 1rem 0;
        background-color: #498fc0;
    }
}