@import "../../../utilities/index.scss";

.content-area {
    height: 100%;
}

section > form {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100%;
    height: 100%;
    gap: 10%;
}

.left-side {
    width: 70%;

    input, textarea {
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid #C6C6C8;
        font-family: inherit;
        font-size: 110%;
        color: black;
        resize: none;
    }

    textarea {
        height: 80%;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-top: 1rem;

    .assignee-field {
        display: flex;
        flex-direction: row;
    }

    .dropdown {
        display: flex;
        border: none;
        height: 2rem;
        min-width: 60%;
        max-width: 100%;
        margin: 1rem 0;

        .dropdown-text {
            min-width: 10rem !important;
            max-width: 10rem;
        }
    }

    button {
        @include button;
        
        align-self: flex-end;
        margin: 1rem 0;
        background-color: $dynamic-secondary;
    }
}
