@import "../../utilities/index.scss";


.dropdown-container {
    font-family: 'Inter', sans-serif;
    position: relative;

    .dropdown {
        padding: 2px 10px;
        border-radius: 10px;
        display: flex;
        position: relative;
        cursor: pointer;
        font-size: 13px;
        user-select: none;

        .selected-container {
            margin-right: 50px;
        }

        .right {
            margin-left: auto;
            width: 40px;
            height: 20px;
            right: -1px;
            top: -1px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .options {
        border: 1px solid $primary-color;
        width: 80%;
        padding: 0 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 100%;
        left: 0;
        max-height: max(min(50vh, 300px), 300px);
        overflow-y: auto;
        z-index: 2;
        
        &::ng-deep {
            white-space: initial;
        }

        li {
            padding: 13px 0;
            border-bottom: 1px solid $primary-color;
            cursor: pointer;
            list-style: none;

            &::ng-deep p {
                font-size: 13px;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}