@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "../../../../utilities/index.scss";

.error-message {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: $error-color;
    color: white;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    margin: 15px 25px;
    padding: 1rem 1.5rem;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;

    h1 {
        color: $default-text-color;
        font-size: 100%;
        font-weight: 500;
    }

    .top-section {
        display: flex;
        flex-direction: row;

        .dot {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }

        h1 {
            margin-right: 2rem;
            padding-left: 10px;
            font-size: 110%;
            font-weight: bold;
        }
    }

    .date-info {
        font-size: 70%;
        color: $grayscale-color;
        
        .created-at {
            display: inline-block;
        }

        .updated-at {
            padding-left: 40px;
            display: inline-block;
        }
    }

    .left-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 1rem;
        max-width: 50%;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .right-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;

        .edit-button {
            button {
                @include button;
                background-color: $dynamic-secondary;

                &::after {
                    height: 17px;
                    width: 20px;
                    background: url('../../../../assets/icons/edit-white.svg') no-repeat;
                }
            }
        }

        .delete-button {
            button {
                @include button;
                background-color: $dynamic-primary;

                &::after {
                    height: 17px;
                    width: 20px;
                    background: url('../../../../assets/icons/delete.svg') no-repeat;
                }
            }
        }
    }
}

