<body>
    <section class="navigation-bar">
        <section class="top section">
            <div class="top-icon">
                <img src="../../assets/icons/logod 1.svg" alt="">
            </div>
    
            <section class="navigation-buttons">
                <ul>
                    <li>
                        <a routerLink="/vve-management">
                            <img routerLinkActive="active" src="../../assets/icons/vves.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/ticket-overview">
                            <img routerLinkActive="active" src="../../assets/icons/tickets.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/news-overview">
                            <img routerLinkActive="active" src="../../assets/icons/news.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/calendar">
                            <img routerLinkActive="active" src="../../assets/icons/calendar.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a routerLink="/account-management">
                            <img routerLinkActive="active" src="../../assets/icons/members.svg" alt="">
                        </a>
                    </li>
                </ul>
            </section>
        </section>

        <section class="bottom-section">
            <ul>
                <li>
                    <!-- Link to account page -->
                    <img src="../../assets/icons/user.svg" alt="">
                </li>
                <li>
                    <!-- Call logout function -->
                    <img src="../../assets/icons/logout.svg" alt="">
                </li>
            </ul>
        </section>
    </section>
</body>