<section class="navigation-bar">
    <section class="top-icon">
        <img src="../../assets/icons/logod 1.svg" alt="">
    </section>

    <section class="navigation-icons">
        <ul>
            <li>
                <a routerLink="/vve-management">
                    <img src="../../assets/icons/vves.svg" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/ticket-overview">
                    <img src="../../assets/icons/tickets.svg" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/news-overview">
                    <img src="../../assets/icons/news.svg" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/calendar">
                    <img src="../../assets/icons/calendar.svg" alt="">
                </a>
            </li>
            <li>
                <a routerLink="/account-management">
                    <img src="../../assets/icons/members.svg" alt="">
                </a>
            </li>
        </ul>
    </section>

    <section class="bottom-icons">
        <ul>
            <li>
                <!-- Link to account page -->
                <img src="../../assets/icons/user.svg" alt="">
            </li>
            <li>
                <!-- Call logout function -->
                <img src="../../assets/icons/logout.svg" alt="">
            </li>
        </ul>
    </section>
</section>