@import "../../utilities/colors.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100%;
    align-items: center;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    height: 90vh;
    width: 67px;
    border: 1px solid rgba($color: #000000, $alpha: 0.04);
    border-radius: 7px;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);

    .top-icon {
        margin-top: 20px;
        height: 25%;
    }

    ul {
        list-style: none;

        li {
            text-align: center;
            margin-bottom: 25px;
        }
    }

    a {
        position: relative;

        .ticket-count {
            position: absolute;
            text-align: center;
            right: -1.3rem;
            bottom: -1.9rem;
            height: 1.3rem;
            width: 1.3rem;
            text-align: center;
            border-radius: 50%;
            color: white;
        }
    }

    .svg-component.active { //FIXME
        stroke: fill;
        fill: stroke;
    }

    .bottom-section {
        margin-bottom: 25px;
    }
}
