<body>
    <section class="navigation-bar">
        <section class="top section">
            <div class="top-icon">
                <img src="../../assets/icons/logod 1.svg" alt="">
            </div>
    
            <section class="navigation-buttons">
                <ul>
                    <li>
                        <a routerLink="/vve-management">
                            <div appColoring routerLinkActive="active-link" class="svg-element" [inlineSVG]="'../../assets/icons/vves.svg'"></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/ticket-overview">
                            <div appColoring routerLinkActive="active-link" class="svg-element" [inlineSVG]="'../../assets/icons/bell.svg'"></div>
                            <div appColoring colorElement="backgroundColor" colorStyle="secondary" class="ticket-count">{{ ticketCount > 9 ? '9+' : ticketCount }}</div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/news-overview">
                            <div appColoring routerLinkActive="active-link" class="svg-element" [inlineSVG]="'../../assets/icons/news.svg'"></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/calendar">
                            <div appColoring routerLinkActive="active-link" class="svg-element" [inlineSVG]="'../../assets/icons/calendar.svg'"></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/account-management">
                            <div appColoring routerLinkActive="active-link" class="svg-element" [inlineSVG]="'../../assets/icons/members.svg'"></div>    
                        </a>
                    </li>
                </ul>
            </section>
        </section>

        <section class="bottom-section">
            <!-- Call logout function -->
            <div appColoring colorElement="fill" class="svg-element" [inlineSVG]="'../../assets/icons/logout.svg'"></div>
        </section>
    </section>
</body>