@import "../utilities/effects.scss";

* {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;

    .content {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 0 60px;

    }

    .main-section {
        margin: auto;
    }
}
