@import "../../../utilities/index.scss";

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-weight: 700;
    color: $dynamic-primary;
    margin-bottom: 1.5rem;
}