<div id="test">
<main>
    <div class="logo">
        <img id="svg" src="assets\icons\Logo-nieuwe-wereld.svg">
    </div>
    <div class="login-container">
        <h1>
            Inloggen
        </h1>
        <div class="line1"></div>
        <div *ngIf="isError" class="error-message">Gebruikersnaam en/of wachtwoord onjuist.</div>
        <div *ngIf="!isAdmin" class="error-message">U heeft niet de juiste rechten voor deze applicatie.</div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="email">
                <div class="email-logo" [inlineSVG]="'assets/icons/Mail-Logo.svg'"></div>
                <span class="form-group">
                    <input class="email-field" type="email" id="email" name="email" placeholder="Email adres" ngModel email required>
                </span>
            </div>

            <div class="password">
                <div class="password-logo" [inlineSVG]="'assets/icons/Password-Logo.svg'"></div>
                <span class="form-group">
                    <input class="password-field" type="password" id="password" name="password" placeholder="Wachtwoord" ngModel required>
                </span>
            </div>

            <div class="form-group">
                <button class="icon-button" [disabled]="loginForm.invalid">
                    <p *ngIf="!isLoading">Inloggen</p>
                    <app-spinner *ngIf="isLoading"></app-spinner>
                </button>
                <!-- <button class="dropdown-button" [disabled]="isLoading"><app-spinner></app-spinner> <p>in aan het loggen</p></button> -->
            </div>
        </form>
        <div>
            <button class="password-button">Wachtwoord vergeten?</button>
        </div>
    </div>
</main>
</div>