@import "../../utilities/colors.scss";
@import "../../utilities/button.scss";

main {
    position: fixed;
    top: 50%;
    // bottom: 50%;
    left: 50%;
    // right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 2px 2px 8px #aaaaaa;
    width: 50%;
    height: 80%;
    // margin: auto;
    padding-top: 3rem;
    overflow: auto;
}

.logo {
    margin:auto;
    background-color: #f8f8f8;
    width: 401px;
    padding: 0 3rem;
}

.login-container {
    margin: auto;
    width: 100%;
    // height: 818px;
    text-align: center;
}

.line1 {
    width: 647px;
    margin: auto;
    padding-top: 1px;
    border-radius: 10px;
    background-color: $secondary-color;
}

.line2 {
    width: 575px;
    margin: auto;
    padding-top: 1px;
    border-radius: 10px;
    background-color: $secondary-color;
}

.line3 {
    width: 575px;
    margin: auto;
    padding-top: 1px;
    border-radius: 10px;
    background-color: $primary-color;
}


h1 {
    width: 722px;
    color:$primary-color;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 16px;
    text-align: center;
}

.email {
    display: inline-block;
    padding-top: 55px;
}

.email-logo {
    float: left;
}

.email-field {
    background: none;
	border: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 525px;
}

.password {
    display: inline-block;
    padding-top: 35px;
}

.password-logo {
    float: left;
}

.password-field {
    background: none;
	border: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 525px;
}


.form-group button {
    @include button;
    margin: auto;
    margin: 2rem 0;
    &:disabled {
        background-color: #666666;
    }
    &::after {
        background:url("../../assets/icons/Forward-white.svg")no-repeat;
        height: 17px;
    }
}

.password-button {
    background: none;
	border: none;
	outline: inherit;
    text-decoration: underline;
    color: #666666;
    margin: auto;
}