@import "../../utilities/colors.scss";
@import "../../utilities/button.scss";

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 2px 2px 8px #aaaaaa;
    width: 50%;
    height: 70%;
    padding-top: 2rem;
    overflow: auto;
    background-color: #f8f8f8;
}

.logo {
    display: flex;
    margin:auto;
    background-color: #f8f8f8;
    width: 40%;
    justify-content: center;
}

.login-container {
    margin: 1rem;
    width: 100%;
    height: 90%;
    text-align: center;
}

.line1 {
    width: 70%;
    margin: auto;
    padding-top: 1px;
    border-radius: 10px;
    background-color: $secondary-color;
}

.line2 {
    width: 60%;
    margin: auto;
    padding-top: 1px;
    border-radius: 10px;
    background-color: $secondary-color;
}

.line3 {
    width: 65%;
    margin: auto;
    padding-top: 1px;
    border-radius: 10px;
    background-color: $primary-color;
}


h1 {
    width: 100%;
    color:$primary-color;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 16px;
    text-align: center;
}

.error-message {
    width: 95%;
    margin-top: 5px;
    padding: 3px;
    border-radius: 3px;
    background-color: #F97672;
    align-items: center;
}

.email {
    display: inline-block;
    padding-top: 55px;
}

.email-logo {
    float: left;
}

.email-field {
    background: none;
	border: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 525px;
}

.password {
    display: inline-block;
    padding-top: 35px;
}

.password-logo {
    float: left;
}

.password-field {
    background: none;
	border: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 525px;
}


.form-group {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        @include button;
        margin: 2rem 0;

        &:disabled {
            background-color: #666666;
        }
    }
}

.password-button {
    background: none;
	border: none;
	outline: inherit;
    text-decoration: underline;
    color: #666666;
    margin: auto;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    color: inherit;
    background-color: inherit;
}