<div class="container">
    <section class="left-block">
        <div class="top-section">
            <div class="svg-element" [inlineSVG]="'../../../../assets/icons/members.svg'"></div>
            <h1>{{ ticket.creator ? ticket.creator.firstname + ' ' + ticket.creator.lastname : 'Maker kan niet geladen worden' }}</h1>
            <h1 id="comment-count">{{ ticket.comments.length }}</h1>
            <div class="svg-element" [inlineSVG]="'../../../../assets/icons/comment.svg'"></div>
        </div>
        <div class="title">
            <h1>{{ ticket.title.length > 180 ? ticket.title.slice(0, 180) + '...' : ticket.title }}</h1>
        </div>
    </section>

    <section class="right-block">
        <div class="information-block">
            <div class="top-rows">
                <div class="right-block-column">
                    <p>Tag: </p>
                    <p>Status:</p>
                    <p>Aangewezen:</p>
                </div>
                <div class="right-block-column">
                    <p class="colored-text">{{ ticket.tag.length > 0 ? ticket.tag[0].name : 'Geen tag' }}</p>
                    <p class="colored-text">{{ ticket.status }}</p>
                    <p class="colored-text">{{ ticket.assignee ? ticket.assignee.firstname + ' ' + ticket.assignee.lastname : 'Niet toegewezen' }}</p>
                </div>
            </div>
    
            <div class="bottom-info">
                <p>Aangemaakt op: {{ ticket.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
                <p>Laatste wijziging: {{ ticket.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</p>
            </div>
        </div>
        <button id="details-button" (click)="onEdit()">
            <div class="svg-element" [inlineSVG]="'../../../../assets/icons/Forward.svg'"></div>
        </button>
    </section>
</div>
