<div class="ticket-casing">
    <section class="left-block">
        <div class="top-section">
            <!-- Insert username -->
            <h1>Humberto Tan</h1>
        </div>
        <div class="description">
            <!-- Insert ticket description -->
            <h1>{{ ticket.content }}</h1>
        </div>
    </section>

    <section class="right-block">
        <p>Status: TODO</p>
        <p>Aangewezen: TODO</p>

        <div class="bottom-info">
            <p>Aangemaakt op: TODO</p>
            <p>Laatste wijziging: TODO</p>
        </div>
    </section>
</div>
