@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "../../../../utilities/colors.scss";

.container {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7FC;
    margin: 15px 25px;
    padding: 1rem 1.5rem;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;

    h1 {
        color: $default-text-color;
        font-size: 100%;
        font-weight: 500;
    }

    .top-section {
        display: flex;
        flex-direction: row;

        h1 {
            color: $primary-color;
            margin-right: 2rem;
        }

        object {
            display: inline;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }

        #comment-count {
            margin-right: 0.5rem;
        }

        #comment-symbol {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

    .left-block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 1rem;
        max-width: 50%;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .right-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        min-width: 25%;

        .information-block {
            display: flex;
            flex-direction: column;
            font-size: 85%;

            .top-rows {
                display: flex;
                flex-direction: row;
                margin-bottom: 0.2rem;
                
                .right-block-column {
                    display: flex;
                    flex-direction: column;
                    text-align: end;
                    margin-right: 1rem;
                }
        
                .colored-text {
                    text-align: start;
                    color: $primary-color;
                }
            }
    
            .bottom-info {
                font-size: 60%;
                color: #6E7191;
            }
        }

        #details-button {
            align-self: center;
            margin-left: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            border: none;
            background: url(../../../../assets/icons/Forward.svg);
        }
    }
}