<DockLayout style="background-color: #F7F7FC">
    <StackLayout class="login-center">
        <image src="~/assets/images/de-nieuwe-wereld-logo.png" class="login-logo"></image>
        <TextField hint="Email" class="login-username"></TextField>
        <TextField hint="Password" class="login-pass"></TextField>
        <Button text="Login" class="login-submit"></Button>
        <Label text="Wachtwoord vergeten?" class="login-forgot" nsRouterLink="/loginForgot"></Label>
    </StackLayout>
</DockLayout>


