@import "../../../utilities/index.scss";

section {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: space-between;
    text-align: center;

    .icon-field {
        position: relative;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;

        .svg-element {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0.9rem;
            left: 0.5rem;
            stroke: #A0A3BD;
        }
    }

    input {
        width: 100%;
        padding: 1rem 3rem;
        border: none;
        border-bottom: 1px solid $dynamic-secondary;
        font-family: inherit;
        font-size: 110%;
        color: #686868;
        resize: none;
    }

    :focus-within > .svg-element {
        stroke: $dynamic-primary;
    }
    
    button {
        @include button;
        
        align-self: flex-end;
        margin: 1rem 0;
        background-color: $dynamic-secondary;
    }

    #loading {
        visibility: hidden;
    }
}