<div class="details-page" *ngIf="ticket">
    <header>
        <!-- <h1>{{ ticket ? 'Ticket:' + ticket.title : 'Geen ticket ingeladen' }}</h1> -->
        <h1>{{ 'Ticket: ' + ticket.title }}</h1>
        <div class="name-date-field">
            <object data="../../../../assets/icons/members.svg" type=""></object>
            <h1>{{ ticketCreator ? ticketCreator : ticket.creator }}</h1>
            <div class="dates">
                <p>Aangemaakt op: {{ ticket.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
                <p>Laatste wijziging: {{ ticket.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</p>
            </div>
        </div>
    </header>
    <body>
        <section class="ticket-details">
            <div class="ticket-description">
                <p>{{ ticket.description }}</p>
            </div>
            <div class="ticket-info">
                <h1>Informatie</h1>
                <div class="info-container">
                    <div class="first-row">
                        <div class="status">
                            <h1>Status</h1>
                            <select name="status" id="">
                                <option value="PENDING" [selected]="ticket.status == 'PENDING'">In afwachting</option>
                                <option value="HANDLING" [selected]="ticket.status == 'HANDLING'">In afhandeling</option>
                                <option value="HANDLED" [selected]="ticket.status == 'HANDLED'">Afgehandeld</option>
                            </select>
                        </div>
                        <div class="tag">
                            <h1>Tag</h1>
                            <select name="tag" id="">
                                <!-- Tag options toevoegen -->
                                <option value="">Belangrijk</option>
                            </select>
                        </div>
                    </div>
                    <div class="second-row">
                        <h1>Toegewezen persoon</h1>
                        <select name="assignee" id="">
                            <!-- Assignee options toevoegen -->
                            <option value="">Niet toegewezen</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="image-section">
            <h1>Bijlagen</h1>
            <div class="ticket-images" *ngIf="ticket.images.length > 0">
                <img *ngFor="let image of ticket.images" src="../../assets/img/image 1.png" alt="none">
            </div>
            <p *ngIf="ticket.images.length == 0">Geen bijlagen</p>
        </section>

        <section>
            <h1>Opmerkingen</h1>
            <p>TODO opmerkingen component</p>
            <!-- TODO Hier ticket comments component -->
        </section>
    </body>
    
</div>
