<header>
    <h1>{{ ticket ? 'Ticket:' + ticket.title : 'Geen ticket ingeladen' }}</h1>
</header>
<body>
    <section class="ticket-details">
        <div class="ticket-text">
            <h1>Onderwerp: TODO ticket title</h1>
            <div class="ticket-description">
                <p>TODO ticket description</p>
            </div>
        </div>
        <div class="ticket-info">
            <h1>Informatie</h1>
            <div class="info-container">

            </div>
        </div>
    </section>
    <section class="ticket-images">
        -TODO ticket images-
    </section>

    <!-- TODO Hier ticket comments component -->
</body>