@import "../../utilities/colors.scss";
@import "../../utilities/effects.scss";


.details-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    margin-top: 5rem;

    .name-date-field {
        display: flex;
        flex-direction: row;
        
        h1 {
            font-size: 100%;
            font-weight: 500;
            margin-right: 2rem;
        }
    
        object {
            display: inline;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
    
        .dates {
            display: flex;
            flex-direction: row;
    
            p {
                font-size: 80%;
                color: #6E7191;
                margin-right: 1rem;
            }
        }
    }
} 

body {
    display: flex;
    flex-direction: column;
    width: 85vw;
    
    h1 {
        color: $primary-color;
        font-size: 150%;
    }

    .ticket-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 0;

        .ticket-description {
            margin: 0;
        }
    }

    .image-section {
        margin-bottom: 3rem;

        h1 {
            margin-bottom: 1rem;
        }

        .ticket-images {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            flex-wrap: wrap;
            gap: 2rem;
    
            p > a > img {
                max-width: 13rem;
                max-height: 13rem;
                cursor: pointer;
            }
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.5rem 0;
        padding: 1.5rem;
        border-radius: 32px;
        box-shadow: $default-box-shadow;

        h1 {
            font-size: 110%;
        }

        .first-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;

            .status {
                padding-right: 6rem;
            }
            
        }
    }
}
