@import "../../utilities/index.scss";


.details-page {
    color: $dynamic-primary;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;

    p {
        color: $default-text-color;
    }

    .svg-element {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
    }
}

header {
    margin-top: 5rem;

    .name-date-field {
        display: flex;
        flex-direction: row;
        
        h1 {
            font-size: 100%;
            font-weight: 500;
            margin-right: 2rem;
        }
    
        object {
            display: inline;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
    
        .dates {
            display: flex;
            flex-direction: row;
    
            p {
                font-size: 80%;
                color: #6E7191;
                margin-right: 1rem;
            }
        }
    }
} 

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    h1 {
        font-size: 150%;
    }

    .ticket-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 0;
        resize: none;
        max-height: 25vh;

        .ticket-description {
            display: inline-block;
            margin: 0;
            overflow: auto;
            word-break: break-all;
            height: inherit;
        }

        .error-message {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 3px;
            background-color: $error-color;
            color: white;
            align-items: center;
            text-align: center;
        }
    }

    .image-section {
        margin-bottom: 3rem;

        h1 {
            margin-bottom: 1rem;
        }

        .ticket-images {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            flex-wrap: wrap;
            gap: 2rem;
    
            a > img {
                max-width: 7rem;
                max-height: 7rem;
                cursor: pointer;
            }
        }
    }

    .info-container {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0;
        margin-right: 30px;
        padding: 1rem;
        border-radius: 30px;
        box-shadow: $default-box-shadow;

        h1 {
            font-size: 90%;
            padding-bottom: 5px;
        }
        

        .left-column {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;

            .dropdown {
                display: flex;

                .dropdown-colored-circle {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 4px;
                }

                .dropdown-item {
                    display: flex;
                    flex-direction: row;
                    min-width: 100px;
                }
            }
        }

        .right-column {
            position: relative;
            display: flex;
            flex-direction: column;

            .dropdown {
                display: flex;
                
                .dropdown-colored-circle {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 4px;
                }

                .dropdown-item {
                    display: flex;
                    flex-direction: row;
                    min-width: 100px;
                }
            }
        }
    }

    .comment-section {
        display: flex;
        flex-direction: column;

        .left-section {
            width: 70%;
            
            .error-message {
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 3px;
                background-color: $error-color;
                color: white;
                align-items: center;
                text-align: center;
            }

            h1 {
                width: 100%;
                padding-bottom: 10px;
            }
            
            .comments {
                display: flex;
                flex-direction: column;
                height: 350px;
                min-width: 100%;
                overflow: auto;
                border-radius: 4px;
                box-shadow: $default-box-shadow;
                background-color: white;
                padding: 5px;
            }
    
            .comment-form {
                width: 100%;
                display: flex;
                flex-direction: row;
                border-radius: 4px;
                box-shadow: $default-box-shadow;
                padding-left: 10px;
                padding-top: 7px;
                padding-bottom: 7px;
                position: relative; 
                top: 10px;
                background-color: white;
                margin-bottom: 40px;

                input:focus {
                    outline: none;
                }
    
                .textfield {
                    width: 100%;
                    border: none;
                    background-color: white;
                }
    
                .file-input {

                    display: flex;
                    align-items: center;

                    .svg-element {
                        margin-top: 5px;
                        filter: drop-shadow( 0px 3px 2px rgba(112, 112, 112, 0.7));
                        cursor: pointer;
                    }
                }
    
                .image-select-button {
                    width: 0px;
                }

                .submit-button {
                    display: flex;
                    align-items: center;
                }
    
                .submit-comment-button {
                    display: flex;
                    border: none;
                    align-items: center;
                    background: none;
                    
                    .svg-element {
                        display: flex;
                        fill: $dynamic-primary;
                        stroke: $dynamic-primary;
                        align-items: center;
                        filter: drop-shadow( 0px 3px 2px rgba(112, 112, 112, 0.7));
                        cursor: pointer;
                    }
                }
            }
        
        
        }

        .input-image-name {
            display: flex;
            flex-direction: row;
            width: 70%;
            flex-wrap: wrap;
            margin-bottom: 40px;
            border-radius: 15px;
            box-shadow: $default-box-shadow;
            overflow: auto;

            .remove-button {
                button {
                    @include button;
                    background-color: $dynamic-primary;
                    font-size: 90%;
                    height: 30px;
    
                    &::after {
                        height: 17px;
                        width: 20px;
                        background: url('../../assets/icons/delete.svg') no-repeat;
                    }
                }
            }        
        }
    }
}
