<header>
    <!-- <h1>{{ ticket ? 'Ticket:' + ticket.title : 'Geen ticket ingeladen' }}</h1> -->
    <h1>{{ 'Ticket: ' + ticket.title }}</h1>
</header>
<body>
    <section class="ticket-details">
        <div class="ticket-description">
            <p>{{ ticket.description }}</p>
        </div>
        <div class="ticket-info">
            <h1>Informatie</h1>
            <div class="info-container">

            </div>
        </div>
    </section>
    <section class="ticket-images">
        -TODO ticket images-
    </section>

    <!-- TODO Hier ticket comments component -->
</body>
