<div style="margin-top: 12vh;">
    <h1>Titel van nieuws</h1>
    <article class="text-editor">
        <form [formGroup]="editorForm">
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor
                    [editor]="editor"
                    formControlName="editorContent"
                ></ngx-editor>
            </div>
        </form>
    </article>
    <article class="details">
        <h1>Details</h1>
        <div *ngIf="error.isError" class="error-message">{{ error.message }}</div>
        <form [formGroup]="detailsForm" class="text-section">
            <div>
                <h2>Titel van nieuws</h2>
                <span class="form-group">
                    <input formControlName="title" class="input-detail" type="text" alt="Invullen titel van het nieuws" placeholder="Vul hier de titel in" ngModel required>
                    <span [inlineSVG]="'../../assets/icons/edit.svg'"></span>
                </span>
            </div>
            <div>
                <h2>Auteur van nieuws</h2>
                <span class="form-group">
                    <input formControlName="author" class="input-detail" type="text" alt="Invullen auteur van het nieuws" placeholder="Vul hier de auteur in" ngModel required>
                    <span class="svg" [inlineSVG]="'../../assets/icons/edit.svg'"></span>
                </span>
            </div>
        </form>
        <section class="file-section">
            <h2>Voorpagina foto</h2>
            <p *ngIf="thumbnail" (click)="deleteThumbnail()">
                {{ thumbnail.name }}
                <span class="svg" [inlineSVG]="'../../assets/icons/Close.svg'"></span>
            </p>
            <p *ngIf="!thumbnail" style="cursor: default;">
                Voeg een foto toe...
            </p>
            <div>
                <label class="attachment-button">Foto toevoegen
                    <input #images accept=".png, .jpg, .jpeg" type="file" single (change)="setThumbnail($event)">
                    <span class="svg" [inlineSVG]="'../../assets/icons/Image.svg'"></span>
                </label>
            </div>
        </section>
    </article>
    <button (click)="onSubmit()" style="float: right;" [disabled]="isLoading">
        <p *ngIf="!isLoading">Opslaan</p>
        <app-spinner *ngIf="isLoading"></app-spinner>
    </button>
</div>

<!-- https://sibiraj-s.github.io/ngx-editor/#/input-rules -->