<div appColoring>
    <h1>Titel van nieuws :potlood:</h1>
    <article>
        <form [formGroup]="form">
        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
        </div>
        </form>
    </article>
    <article>
        <h1>Details</h1>
        <section>
            <h3>Titel van nieuws</h3>
            <input alt="Invullen titel van het nieuws"/>
            <h3>Auteur van nieuws</h3>
            <input alt="Invullen auteur van het nieuws"/>
        </section>
        <section>
            <h3>Voorpagina foto</h3>
            <li>
                <p>FOTO</p>
            </li>
            <button class="button">Foto toevoegen :image:</button>
        </section>
    </article>
</div>

<!-- https://sibiraj-s.github.io/ngx-editor/#/input-rules -->