<div class="container">
    <form class="form-group" #tagForm="ngForm" (ngSubmit)="createTag(tagForm)">
        <h1>Kies een naam</h1>
        <div class="name-section">
            <input class="name" type="name" id="name" name="name" [(ngModel)]="tagName" ngModel required>
        </div>
        <h1>Kies een kleur</h1>
        <div class="color-picker-section">
            <div class="color-picker">
                <input type="color" id="tag-color" name="tagColor" [(ngModel)]="tagColor">
                <label for="tag-color" class="light-text">{{ tagColor }}</label>
            </div>
        </div>
        <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>
        <button type="submit" appColoring colorElement="backgroundColor">Wijzigen</button>
    </form>
</div>