<div class="{{
    'popup' + (fitContent ? ' popup-fit-content' : ' popup-fixed') + ' '
    + (small ? 'popup-small' : undefined)
}}">
    <div class="container">
        <div class="top-bar">
            <h2>{{ title }}</h2>
            <button id="close-button" (click)="onClose()"></button>
            <!-- <object data="../../assets/icons/Close.svg" type="" (click)="onClose()"></object> -->
        </div>
        <div class="content-container">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="overlay" (click)="onClose()"></div>
</div>
