@import "../../utilities/effects.scss";

.popup {
    background-color: rgba($color: #DADADA, $alpha: 0.5);
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        max-width: 1100px;
        height: 100%;
        max-height: 560px;
        border: none;
        border-radius: 15px;
        box-shadow: $default-box-shadow;

        .top-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 1px solid #A0CAE8;
        }

        h2 {
            padding: 0 1.5rem;
        }

        #close-button {
            width: 2rem;
            height: 2rem;
            padding: 0 1.5rem;
            border: none;
            background: url('../../assets/icons/Close.svg') no-repeat;
        }

        .content-container {
            margin: auto;
            height: 100%;
            width: 90%;
            padding: 2rem 0;    
        }

    }

}