<DockLayout style="background-color: #F7F7FC">
    <StackLayout class="login-center">
        <image src="~/assets/images/de-nieuwe-wereld-logo.png" class="login-logo"></image>
        <Label text="Wachtwoord herstellen" class="login-forgot-header"></Label>
        <TextField hint="Email" class="login-username"></TextField>
        <TextView editable="false" text="Er wordt een nieuw wachtwoord naar uw mail adres gestuurd." class="login-forgot-notice"></TextView>
        <Button text="Wachtwoord herstellen" class="login-submit"></Button>
        <Label text="Terug naar login" class="login-forgot" nsRouterLink="/"></Label>
    </StackLayout>
</DockLayout>


