.login-forgot-header {
    color: #451864;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.login-forgot-notice {
    width: 80%;
    margin: 5% 0 5% 0;
    text-align: center;
}
