@import "../../../utilities/index.scss";

.comment-container {
    width: 80%;
    margin-right: 5px;
    float: right;

    .comment {
        position: relative;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        background: none;
        justify-content: space-between;
        margin: 10px 0px;
        border-radius: 12px;
        box-shadow: $default-box-shadow;
        
        .background {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            border-radius: 12px;
            background-color: $dynamic-primary;
            opacity: 0.2;
            pointer-events: none;
        }

        h1 {
            color: $grayscale-color;
            font-size: 80%;
            font-weight: 1000;
            padding-bottom: 5px;
            position: absolute;
            top: 5px;
            right: 0;
            padding-right: 15px;
        }

        .comment-text {
            position: relative;
            max-width: 95%;
            color: black;
        }

        .date {
            position: absolute;
            bottom: 5px;
            right: 0;
            padding-right: 15px;
            color: $grayscale-color;
            font-size: 60%;
            font-weight: 1000;
        }
    }

    .image-section {
        border-top: 1px solid $dynamic-primary;
        padding-top: 10px;
        margin-top: 10px;

        .comment-images {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
    
            a > img {
                height: 3rem;
                cursor: pointer;
            }
        }
    }
}