<div appColoring>
    <header>
        <h1>Tags</h1>
    </header>
    <body>
        <section class="button-section">
            <button appColoring colorElement="backgroundColor" (click)="onAdd()">Nieuw</button>
        </section>
        <section class="content-section">
            <app-tag-list></app-tag-list>
        </section>
        <app-popup *ngIf="creatingTag" title="Tag aanmaken" (closed)="onClose()">
            <app-tag-creator></app-tag-creator>
        </app-popup>
    </body>
</div>