<div appColoring>
    <header>
        <h1>Tags</h1>
    </header>
    <body>
        <section class="button-section">
            <button (click)="onAdd()">Nieuw</button>
        </section>
        <section class="content-section">
            <app-tag-list></app-tag-list>
        </section>
        <app-popup class="ticket-creator" *ngIf="creatingTag" title="Tag aanmaken" (closed)="onClose()" [fitContent]="true" [small]="true">
            <app-tag-creator (tagCreated)="createTag($event)"></app-tag-creator>
        </app-popup>
    </body>
</div>