<div >
  <div>
    <div>
      <div
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Vorige
      </div>
      <div
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Vandaag
      </div>
      <div
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Volgende
      </div>
    </div>
  </div>
  <div>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'nl' }}</h3>
  </div>
  <div>
    <div>
      <div
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Maand
      </div>
      <div
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Dag
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    [locale]="locale"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [locale]="locale"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [locale]="locale"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<h3>
  Edit events
  <button (click)="addEvent()">
    Add new
  </button>
  <div></div>
</h3>

<div>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events">
      <td>
        <input
          type="text"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()"
        />
      </td>
      <td>
        <input
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>
        <input
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
        />
      </td>
      <td>
        <button (click)="deleteEvent(event)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div>
    <h5>Event action occurred</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div>
    <button type="button" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
