<header>
    <h1>Accounts</h1>
</header>
<body>
    <section class="button-section">
        <button id="add-user-button" class="icon-button">Toevoegen
            <span class="button-dropdown">
                <p class="top-option">CSV importeren</p>
                <hr>
                <p class="bottom-option" (click)="onAddUser()">Gebruiker toevoegen</p>
            </span>
        </button>
        <p>TODO search component</p>
    </section>
    <section class="content-section">
        <app-account-list></app-account-list>
    </section>
</body>
