@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "../../utilities/colors.scss";
@import "../../utilities/button.scss";
@import "../../utilities/effects.scss";

body {
    width: 85vw;
    height: 80vh;
    background-color: white;
    border: 1px solid rgba($color: #000000, $alpha: 0.04);
    border-radius: 8px;
    box-shadow: $default-box-shadow;

    .button-section {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #DEDEDE;
        margin: 0 15px;

        button {
            @include button;
        }
    }

    #add-user-button {
        &::after {
            background: url('../../assets/icons/chevron.svg') no-repeat;
        }
    }
}