<div id="component-container">
    <main>
        <div class="logo">
            <img id="svg" src="assets\icons\Logo-nieuwe-wereld.svg">
        </div>
        <div class="login-container">
            <h1>
                Wachtwoord herstellen
            </h1>
            <div class="line1"></div>
            <div *ngIf="notificationMessage" [ngClass]="success ? 'notification-success' : 'notification'">
                {{ notificationMessage }}
            </div>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="email">
                    <div class="email-logo" [inlineSVG]="'assets/icons/Mail-Logo.svg'"></div>
                    <span class="form-group">
                        <input class="email-field" type="email" id="email" name="email" placeholder="Email adres" ngModel email required>
                    </span>
                </div>   
                <div class="form-group">
                    <button>
                        <p>Wachtwoord herstellen</p>
                    </button>
                </div>
            </form>
            <div>
                <button class="back-button" (click)="onReturnToLogin()">Terug naar login</button>
            </div>
        </div>
    </main>
    </div>