<ul class="news-item-list">
  <li class="news-item">
    <div class="news-thumbnail">
      <img
        src="https://preview.redd.it/e6mr16a9ah071.jpg?width=640&crop=smart&auto=webp&s=bf7f4c3e7f590df70fab692ed64040b27691df76"
        alt="">
    </div>
    <div class="news-content">
      <h3 appColoring colorStyle="primary" class="news-title">
        Ouderen blij met komst van nieuwe moestuin
      </h3>
      <p class="news-description">
        De nieuwe moestuin die sinds 29 Maart is aangelegd is een groot succes! De hele wijk is hartstikke blij met het uitgewerkte plan en vooral de ouderen.
        Vanaf 12:00 Was iedereen welkom om zijn stukje grond te bewerken en de ouderen deden dit volop. We hebben een paar van deze ouderen gesproken Bep: “Ja het is zo jammer dat ik een balkonnetje heb dus kan ik niet tuinieren wat ik zooo leuk vind.
        Maar met de moestuin kan ik het wel! Ik heb al tomaatjes en courgette die ik erin ga planten. Verder komen er nog leuke bloemetjes voor de sfeer.”
        En zij is niet de enige die zo reageert op de moestuin. Vele hebben ook het probleem met een balkon en dus geen tuin....
      </p>
    </div>
    <div class="news-buttons">
      <button class="secondary-btn" appColoring colorStyle="secondary" colorElement="background">
        Wijzigen
        <object data="../../../assets/icons/edit-white.svg"></object>
      </button>
      <button class="primary-btn" appColoring colorStyle="primary" colorElement="background">
        Verwijderen
        <object data="../../../assets/icons/delete.svg"></object>
      </button>
    </div>
  </li>
</ul>
